<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Entrar</h1>
    <div class="container text-center">
        <form action="/login" method="post" class="row justify-content-center">
            <div class="col-6">
                <div class="input-group">
                        <label>Usuário: <input type="text" name="username"></label>
                        <br><br>
                        <label>Senha: <input type="password" name="senha"></label><br><br>
                        <input type="submit" value="Enviar">
                </div>
            </div>
        </form>
<br><br>
    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</body>
</html>