h1{
    color:rgb(148, 3, 100);
    }
    
    body{
    background-color:rgb(250, 237, 246);
    font-family: Century;
    text-align: center;
    }
    
    .btn {
    background-color: aquamarine;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background-color: white;
    }
    
    table th, table td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
    }
    
    input [type="submit"]{
        background-color: aquamarine;
    }